/* line 4, sass/_variables.scss */
.purple {
  color: #7755a9;
}

/* line 8, sass/_variables.scss */
.blue {
  color: #55c3dc;
}

/* Responsive */
/* line 1, sass/_typography.scss */
html {
  font-size: 16px;
}

/* line 5, sass/_typography.scss */
html body {
  font-size: 16px;
  color: #333;
  font-family: 'Lato', sans-serif;
}

/* Mixin */
/* Base Font Size*/
/* line 14, sass/_typography.scss */
h1 {
  font-size: 5rem;
}
@media only screen and (max-width: 979px) {
  /* line 14, sass/_typography.scss */
  h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, sass/_typography.scss */
  h1 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 480px) {
  /* line 14, sass/_typography.scss */
  h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 320px) {
  /* line 14, sass/_typography.scss */
  h1 {
    font-size: 2.5rem;
  }
}

/* line 14, sass/_typography.scss */
h2 {
  font-size: 5rem;
}
@media only screen and (max-width: 979px) {
  /* line 14, sass/_typography.scss */
  h2 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, sass/_typography.scss */
  h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 480px) {
  /* line 14, sass/_typography.scss */
  h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 320px) {
  /* line 14, sass/_typography.scss */
  h2 {
    font-size: 2.5rem;
  }
}

/* line 14, sass/_typography.scss */
h3 {
  font-size: 4rem;
}
@media only screen and (max-width: 979px) {
  /* line 14, sass/_typography.scss */
  h3 {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, sass/_typography.scss */
  h3 {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 480px) {
  /* line 14, sass/_typography.scss */
  h3 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 320px) {
  /* line 14, sass/_typography.scss */
  h3 {
    font-size: 2rem;
  }
}

/* line 14, sass/_typography.scss */
h4 {
  font-size: 3rem;
}
@media only screen and (max-width: 979px) {
  /* line 14, sass/_typography.scss */
  h4 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, sass/_typography.scss */
  h4 {
    font-size: 2.1rem;
  }
}
@media only screen and (max-width: 480px) {
  /* line 14, sass/_typography.scss */
  h4 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 320px) {
  /* line 14, sass/_typography.scss */
  h4 {
    font-size: 1.5rem;
  }
}

/* line 14, sass/_typography.scss */
h5 {
  font-size: 2rem;
}
@media only screen and (max-width: 979px) {
  /* line 14, sass/_typography.scss */
  h5 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, sass/_typography.scss */
  h5 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 480px) {
  /* line 14, sass/_typography.scss */
  h5 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 320px) {
  /* line 14, sass/_typography.scss */
  h5 {
    font-size: 1rem;
  }
}

/* Styles per section */
/* line 56, sass/_typography.scss */
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 100;
  line-height: 1.2;
}

/* ===============================================
   Common
   =============================================== */
/* line 4, sass/_common.scss */
.center {
  text-align: center;
}

/* line 7, sass/_common.scss */
.right-text {
  text-align: right;
}

/* line 10, sass/_common.scss */
.unit {
  font-size: 1.5rem;
}

/* line 13, sass/_common.scss */
.stat-detail {
  font-size: 1.5rem;
}

/* line 16, sass/_common.scss */
sup {
  font-size: 2rem;
  top: -2rem;
}

/* line 20, sass/_common.scss */
hr {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}

/* line 23, sass/_common.scss */
.photo {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  width: 100%;
}

/* line 2, sass/_button.scss */
.button {
  position: relative;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: none;
  margin: 10px 0;
  padding: 0.5rem 5rem 0.4rem;
  width: auto;
  height: auto;
  border: 3px solid #fff;
  background-image: none !important;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  font-size: 2rem;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

/* line 23, sass/_button.scss */
.button:hover {
  background-color: #fff;
  background-image: none !important;
  color: #000;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
  text-decoration: none;
}
/* line 29, sass/_button.scss */
#history .button:hover {
  color: #7755a9;
}
/* line 32, sass/_button.scss */
#travel .button:hover {
  color: #55c3dc;
}

/* line 37, sass/_button.scss */
.button:active {
  text-decoration: none;
  top: 1px;
}

/* line 3, sass/_sections.scss */
section {
  height: 900px;
}
/* line 5, sass/_sections.scss */
section .content {
  padding: 100px 0;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  font-weight: 300;
}

/* line 16, sass/_sections.scss */
section#hero {
  background: url("../img/hero-bg.jpg") no-repeat center center black;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
/* line 22, sass/_sections.scss */
section#hero h1 {
  font-size: 12rem;
}

/* line 27, sass/_sections.scss */
section#history {
  background: #7755a9;
  color: #fff;
}

/* line 32, sass/_sections.scss */
section#travel {
  background: #55c3dc;
  color: #fff;
}
