/* Responsive */
/* line 1, sass/_typography.scss */
html {
  font-size: 16px;
}

/* line 5, sass/_typography.scss */
html body {
  font-size: 16px;
  color: #333;
  font-family: 'Lato', sans-serif;
}

/* Mixin */
/* Base Font Size*/
/* line 14, sass/_typography.scss */
h1 {
  font-size: 5rem;
}
@media only screen and (max-width: 979px) {
  /* line 14, sass/_typography.scss */
  h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, sass/_typography.scss */
  h1 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 480px) {
  /* line 14, sass/_typography.scss */
  h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 320px) {
  /* line 14, sass/_typography.scss */
  h1 {
    font-size: 2.5rem;
  }
}

/* line 14, sass/_typography.scss */
h2 {
  font-size: 5rem;
}
@media only screen and (max-width: 979px) {
  /* line 14, sass/_typography.scss */
  h2 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, sass/_typography.scss */
  h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 480px) {
  /* line 14, sass/_typography.scss */
  h2 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 320px) {
  /* line 14, sass/_typography.scss */
  h2 {
    font-size: 2.5rem;
  }
}

/* line 14, sass/_typography.scss */
h3 {
  font-size: 4rem;
}
@media only screen and (max-width: 979px) {
  /* line 14, sass/_typography.scss */
  h3 {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, sass/_typography.scss */
  h3 {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 480px) {
  /* line 14, sass/_typography.scss */
  h3 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 320px) {
  /* line 14, sass/_typography.scss */
  h3 {
    font-size: 2rem;
  }
}

/* line 14, sass/_typography.scss */
h4 {
  font-size: 3rem;
}
@media only screen and (max-width: 979px) {
  /* line 14, sass/_typography.scss */
  h4 {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, sass/_typography.scss */
  h4 {
    font-size: 2.1rem;
  }
}
@media only screen and (max-width: 480px) {
  /* line 14, sass/_typography.scss */
  h4 {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 320px) {
  /* line 14, sass/_typography.scss */
  h4 {
    font-size: 1.5rem;
  }
}

/* line 14, sass/_typography.scss */
h5 {
  font-size: 2rem;
}
@media only screen and (max-width: 979px) {
  /* line 14, sass/_typography.scss */
  h5 {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 767px) {
  /* line 14, sass/_typography.scss */
  h5 {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 480px) {
  /* line 14, sass/_typography.scss */
  h5 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 320px) {
  /* line 14, sass/_typography.scss */
  h5 {
    font-size: 1rem;
  }
}

/* Styles per section */
/* line 56, sass/_typography.scss */
h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 100;
  line-height: 1.2;
}

/* ===============================================
   Common
   =============================================== */
/* line 4, sass/_common.scss */
body {
  background: url("../img/star-lights-bg.png") repeat, url("../img/star-bg.jpg") repeat;
  color: #fff;
}

/* line 8, sass/_common.scss */
section {
  position: relative;
}

/* line 11, sass/_common.scss */
.center {
  text-align: center;
}

/* line 14, sass/_common.scss */
.right-text {
  text-align: right;
}

/* line 17, sass/_common.scss */
.unit {
  font-size: 1.5rem;
}

/* line 20, sass/_common.scss */
.stat-detail {
  font-size: 1.4rem;
}

/* line 24, sass/_common.scss */
sup {
  font-size: 2rem;
  top: -2rem;
}

/* line 28, sass/_common.scss */
hr {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=25);
  opacity: 0.25;
}

/* line 31, sass/_common.scss */
.photo {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-radius: 500px;
  width: 100%;
  border: 10px solid #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* line 39, sass/_common.scss */
.tooltip.top {
  margin-top: 2px;
}
/* line 42, sass/_common.scss */
.tooltip .tooltip-inner {
  font-size: 2rem;
  padding: 5px 20px;
  max-width: 100%;
  background: #7755a9;
}

/* ===============================================
   Shooting Star
   =============================================== */
/* line 54, sass/_common.scss */
.shooting-star {
  display: block;
  position: absolute;
  right: 0;
}
/* line 58, sass/_common.scss */
.shooting-star.typeA {
  top: 100px;
}
/* line 61, sass/_common.scss */
.shooting-star.typeB {
  top: -200px;
}
/* line 64, sass/_common.scss */
.shooting-star.typeC {
  top: 300px;
}
/* line 67, sass/_common.scss */
.shooting-star img {
  max-width: 100%;
}
/* line 70, sass/_common.scss */
.shooting-star .shooting-motion-slow {
  -webkit-animation: star_movement 3s ease-in-out infinite;
  -moz-animation: star_movement 3s ease-in-out infinite;
}
/* line 74, sass/_common.scss */
.shooting-star .shooting-motion-fast {
  -webkit-animation: star_movement 1.5s ease-in-out infinite;
  -moz-animation: star_movement 1.5s ease-in-out infinite;
}

@-moz-keyframes star_movement {
  /* line 81, sass/_common.scss */
  0% {
    -moz-transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 85, sass/_common.scss */
  25% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
    opacity: 100;
  }

  /* line 88, sass/_common.scss */
  100% {
    -moz-transform: translate(-1000px, 1000px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes star_movement {
  /* line 95, sass/_common.scss */
  0% {
    -webkit-transform: translate(0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 99, sass/_common.scss */
  25% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10000);
    opacity: 100;
  }

  /* line 102, sass/_common.scss */
  100% {
    -webkit-transform: translate(-1000px, 1000px);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

/* ===============================================
   Planet
   =============================================== */
/* line 112, sass/_common.scss */
.planet {
  display: block;
  position: absolute;
  overflow: hidden;
}
/* line 116, sass/_common.scss */
.planet img {
  max-width: 100%;
}
/* line 119, sass/_common.scss */
.planet .motion-slow {
  -webkit-animation: rotating 120s linear infinite;
  -moz-animation: rotating 120s linear infinite;
}
/* line 123, sass/_common.scss */
.planet .motion-fast {
  -webkit-animation: rotating 60s linear infinite;
  -moz-animation: rotating 60s linear infinite;
}
/* line 127, sass/_common.scss */
.planet.sun {
  top: -400px;
  left: -400px;
  width: 800px;
  height: 800px;
}
/* line 133, sass/_common.scss */
.planet.typeA {
  right: 0;
  height: 800px;
  top: 1550px;
  width: 800px;
}
/* line 138, sass/_common.scss */
.planet.typeA img {
  position: absolute;
  right: -300px;
}
/* line 143, sass/_common.scss */
.planet.typeB {
  height: 800px;
  left: -300px;
  top: 2550px;
  width: 800px;
}
/* line 149, sass/_common.scss */
.planet.typeC {
  height: 800px;
  right: 0;
  top: 3550px;
  width: 800px;
}
/* line 154, sass/_common.scss */
.planet.typeC img {
  position: absolute;
  right: -200px;
}
/* line 159, sass/_common.scss */
.planet.typeD {
  height: 800px;
  left: -300px;
  top: 4550px;
  width: 800px;
}

@-moz-keyframes rotating {
  /* line 168, sass/_common.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 171, sass/_common.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating {
  /* line 177, sass/_common.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 180, sass/_common.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* line 2, sass/_button.scss */
.button {
  position: relative;
  text-transform: uppercase;
  display: block;
  max-width: 500px;
  text-shadow: none;
  margin: 10px auto;
  padding: 0.8rem 0 0.7rem;
  width: auto;
  height: auto;
  background: #fff;
  background-image: none !important;
  color: #000;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.4rem;
  font-family: inherit;
  cursor: pointer;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

/* line 25, sass/_button.scss */
.button:hover, .button:focus {
  background-color: #fff;
  background-image: none !important;
  color: #000;
  -webkit-transition: background 0.1s ease-out;
  -moz-transition: background 0.1s ease-out;
  -o-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
  text-decoration: none;
}

/* line 33, sass/_button.scss */
.button:active {
  text-decoration: none;
  top: 1px;
}

/* line 3, sass/_sections.scss */
section {
  height: 1100px;
}
/* line 5, sass/_sections.scss */
section .content {
  padding: 100px 0;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  font-weight: 300;
}

/* line 16, sass/_sections.scss */
section#hero {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
/* line 18, sass/_sections.scss */
section#hero h1 {
  font-size: 12rem;
}

/* line 23, sass/_sections.scss */
section {
  color: #fff;
}

/* line 31, sass/_sections.scss */
section#travel #travel-slider .rsOverflow {
  border: 10px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* line 40, sass/_sections.scss */
section#music ul,
section#anime ul {
  margin-top: 50px;
  list-style: none;
  overflow: hidden;
  clear: both;
}
/* line 45, sass/_sections.scss */
section#music ul li,
section#anime ul li {
  display: block;
  margin: 1%;
  width: 18%;
  border: 1px solid #ccc;
  height: 200px;
  width: 200px;
  float: left;
  overflow: hidden;
}
/* line 54, sass/_sections.scss */
section#music ul li img,
section#anime ul li img {
  max-width: 200px;
}

/* line 63, sass/_sections.scss */
section#anime ul li {
  height: 300px;
}

/* line 69, sass/_sections.scss */
section#cats {
  background-image: url("../img/cats-bg.png");
  background-position: center left;
  background-repeat: no-repeat;
}

/* line 75, sass/_sections.scss */
section#proposal {
  height: 700px;
}
/* line 77, sass/_sections.scss */
section#proposal .phase2 {
  display: none;
}
/* line 80, sass/_sections.scss */
section#proposal .lyric {
  cursor: pointer;
}
