/* ===============================================
   Common
   =============================================== */
.center {
    text-align: center;
}
.right-text {
    text-align: right;
}
.unit {
    font-size: 1.5rem;
}
.stat-detail {
    font-size: 1.4rem;
}
sup {
    font-size: 2rem;
    top: -2rem;
}
hr {
    @include opacity(0.25);
}
.photo {
    @include border-radius(500px);
    width: 100%;
    border: 10px solid #fff;
    @include box-shadow( 0 0 5px rgba(0,0,0,0.5) );
}
