/* ===============================================
   Common
   =============================================== */
.center {
    text-align: center;
}
.right-text {
    text-align: right;
}
.unit {
    font-size: 2rem;
}
.stat-detail {
    font-size: 1.5rem;
    font-weight: 300;
}
