// Section setup

section {
    height: 900px;
    .content {
        padding: 100px 0;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}

// Individual Sections

section#hero {
    background: url('../img/hero-bg.jpg') no-repeat center center #000000;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    h1 {
        font-size: 12rem;
    }
}

section#history {
    background: $purple;
    color: #fff;
}

section#travel {
    background: $blue;
    color: #fff;
}

section#music {

}

section#food {

}

section#cats {

}
