// Section setup

section {
    height: 1100px;
    .content {
        padding: 100px 0;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        font-weight: 300;
    }
}

// Individual Sections

section#hero {
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    h1 {
        font-size: 12rem;
    }
}

section {
    color: #fff;
}

section#history {
}

section#travel {
    #travel-slider .rsOverflow {
        border: 10px solid #fff;
        @include border-radius(0);
        @include box-shadow( 0 0 5px rgba(0,0,0,0.5) );
    }
}

section#music {
    ul.artists {
        margin-top: 50px;
        list-style: none;
        overflow: hidden;
        clear: both;
        li {
            display: block;
            margin: 1%;
            width: 18%;
            border: 1px solid #ccc;
            height: 200px;
            width: 200px;
            float: left;
            overflow: hidden;
            img {
                max-width: 200px;
            }
        }
    }
}

section#food {
}

section#cats {
    background-image: url('../img/cats-bg.png');
    background-position: center left;
    background-repeat: no-repeat;
}
