// Section setup

section {
    height: 1100px;
    .content {
        padding: 100px 0;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        font-weight: 300;
    }
}

// Individual Sections

section#hero {
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    h1 {
        font-size: 12rem;
    }
}

section {
    color: #fff;
}

section#history {
    // background: $purple;
}

section#travel {
    // background: $green;
    #travel-slider .rsOverflow {
        border: 10px solid #fff;
        @include border-radius(0);
        @include box-shadow( 0 0 5px rgba(0,0,0,0.5) );
    }
}

section#music {
    // background: $blue;
}

section#food {
    // background: $brown;
}

section#cats {
    background-image: url('../img/cats-bg.png');
    background-position: center left;
    background-repeat: no-repeat;
}
