html {
    font-size: 16px;
}

html body {
    font-size: 16px;
    color: #333;
    font-family: 'Lato', sans-serif;
}

/* Mixin */

@mixin typography($base-font-size) {
    & {
        font-size: $base-font-size;

        @include respond-to(tablet-portrait) {
            font-size: $base-font-size * 0.8;
        }
        @include respond-to(phone-tablet) {
            font-size: $base-font-size * 0.7;
        }
        @include respond-to(phone-landscape) {
            font-size: $base-font-size * 0.6;
        }
        @include respond-to(phone-portrait) {
            font-size: $base-font-size * 0.5;
        }
    }
}

/* Base Font Size*/

h1 {
    @include typography(5rem);
}

h2 {
    @include typography(5rem);
}

h3 {
    @include typography(4rem);
}

h4 {
    @include typography(3rem);
}

h5 {
    @include typography(2rem);
}

/* Styles per section */

h1, h2, h3, h4, h5 {
    margin: 0;
    font-weight: 100;
    line-height: 1.2;
    // font-family: 'Marcellus SC', serif;
    // font-family: 'Alegreya SC', serif;
}
